// sass-lint:disable class-name-format
// sass-lint:disable no-important
@font-face {
  font-family: LuTunaFree;
  src: url('../../_dev/fonts/LuTuna.ttf');
}

@font-face {
  font-family: Mplus;
  src: url('../../_dev/fonts/MPLUS1p-Regular.ttf');
}

h1 {
  color: $c-dark;
  font-family: LuTunaFree;
  font-size: 99px;
  text-transform: uppercase;

  @include media-max(sm) {
    font-size: 40px;
  }
}

h2 {
  color: $c-dark;
  font-family: LuTunaFree;
  font-size: 80px;
  text-transform: uppercase;
  @include media-max(sm) {
    font-size: 35px;
  }
}

h3 {
  color: $c-dark;
  font-family: LuTunaFree;
  font-size: 60px;

  &.rotate {
    transform: rotate(-90deg);
  }

  @include media-max(sm) {
    font-size: 26px;
  }
}

h4 {
  color: $c-dark;
  font-family: LuTunaFree;
  font-size: 40px;

  @include media-max(sm) {
    font-size: 20px;
  }
}

b,
strong {
  color: $c-tertiary;
}

p,
a {
  font-family: Mplus;
  font-size: 26px;

  &.text-container {
    margin: 30px auto;
    max-width: 50%;
    @include media-max(sm) {
      margin: 0;
      max-width: 100%;
    }
  }

  @include media-max(sm) {
    font-size: 16px;
    line-height: 30px;
  }
}
