// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
footer {
  &.footer {
    background-color: $c-primary;
    padding: 50px 0 20px;
    text-align: center;
    @include media-max(sm) {
    padding: 50px 0 50px;
    }
  }
}
