// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.footer {
  &__submenu {
    list-style: none;
    margin: 0;
    padding: 10px 0 0px;

    &--link {
      display: inline;
      padding: 0 20px;

      a {
        color: $c-light;
        font-size: 20px;

        @include media-max(sm) {
          font-size: 16px;
        }
      }
    }
  }
}
