// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.footer {
  &__menu {
    list-style: none;
    margin: 0;
    padding: 30px 0 20px;
    @include media-max(sm) {
      padding: 30px 0 50px;

    }

    &--link {
      display: inline;
      padding: 0 20px;

      @include media-max(sm) {
        display: block;
        padding: 10px 20px;
      }

      a {
        color: $c-light;
        font-size: 26px;

        @include media-max(sm) {
          font-size: 16px;
        }
      }
    }
  }
}
