// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.footer {
  &__socials {
    list-style: none;
    margin: 0;
    padding: 0 0 20px;

    &--link {
      display: inline;
      padding: 0 20px;

      a {
        color: $c-light;
        font-size: 26px;

        img {
          @include media-max(sm) {
            height: 29px;
          }
        }
      }
    }
  }
}
