// sass-lint:disable class-name-format
// sass-lint:disable no-important
.flavours {
  padding-bottom: 80px;
  padding-top: 133px;

  &__btns {
    margin-top: 60px;

    .btn {
      margin-right: 20px;
      @include media-max(sm) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  &__chocolate {
    margin-top: -35%;

    @include media-max(sm) {
      margin-top: -75%;
    }
  }
  @include media-max(sm) {
    h2 {
      margin-top: 20px;
    }
  }

  &__go {
    img {
      @include media-max(sm) {
        max-width: 35px;
      }
    }
  }
}
