// sass-lint:disable class-name-format
// sass-lint:disable no-important
.storieshome {
  margin: 150px auto;

  @include media-max(sm) {
    margin: 100px auto 70px;
  }

  &__container {
    margin-top: 100px;

    @include media-max(sm) {
      margin-top: 50px;
    }
  }

  &__story {
    transition: .3s;
    margin-bottom: 150px;
    @include media-max(sm) {
      margin-bottom: 30px;
    }

    &:hover {
      transform: rotate(5deg);
    }

    a {
      text-decoration: none !important;
    }
  }

  &__caption {
    img {
      margin-top: 15px;
      @include media-max(sm) {
        margin-top: 5px;
        max-width: 35px;
      }
    }
  }
}
