// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
.btn {
  border: 0;
  border-radius: 18px;
  font-family: LuTunaFree;
  font-size: 40px;
  line-height: 30px;
  padding: 17px 35px;
  text-transform: uppercase;
  transition: .3s;

  @include media-max(sm) {
    border-radius: 10px;
    font-size: 26px;
    padding: 11px 18px;
  }

  &-small {
    font-size: 35px;
    line-height: 30px;
    text-transform: lowercase;
  }

  &-primary {
    background-color: $c-primary;

    &:hover {
      background-color: $c-primary;
    }
  }

  &-secundary {
    border: 6px solid $c-primary;
    color: $c-primary;
    padding: 11px 29px;

    &:hover {
      color: $c-primary;
    }
  }

  &:hover {
    transform: rotate(2deg);
  }
}

.icon {
  &-btn {
    color: $c-dark;
    float: right;
    font-family: LuTunafree;
    font-size: 35px;
    margin-top: 25px;

    &:hover {
      color: $c-dark;
      text-decoration: none;

      img {
        transform: translateX(15px);
      }
    }

    img {
      margin-left: 10px;
      transition: .2s;
    }
  }
}
