// sass-lint:disable class-name-format
// sass-lint:disable no-important
.navbar {
  padding: 0;

  &--container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1795px;
  }

  &--logo {
    width: 143px;

    @include media-max(sm) {
      padding-left: 26px;
      padding-top: 23px;
      width: 110px;
    }
  }

  &__links {
    // container
    background-color: $c-light;
    list-style: none;
    margin: 0;
    padding: 38px 30px;
    transform: translateY(0);
    transition: 1s;

    &--up {
      transform: translateY(-100%);
    }
  }

  &__link {
    // LI tags
    display: inline;
    padding: 0 20px;
    text-transform: uppercase;

    a {
      color: $c-dark;
      font-family: LuTunaFree;
      font-size: 30px;
      line-height: 37px;
      transition: .2s;

      &:hover {
      color: $c-primary;
      }
    }

    &.current-menu-item {
      text-decoration: underline;

      a {
        color: $c-primary;
      }
    }
  }

  &__mobiel {
    background-color: $c-light;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    margin-top:-100vh;
    transition: .4s;

    &.active {
      margin-top: 0;
    }

    &__links {
      padding: 0;
      list-style-type: none;
      text-align: center;
    }

    .menu-hoofdmenu-container {
      width: 100%;
    }

    &__link {
      // LI tags
      padding: 13px 20px;
      text-transform: uppercase;

      a {
        color: $c-dark;
        font-family: LuTunaFree;
        font-size: 30px;
        line-height: 37px;
        transition: .2s;
      }
      
      &.current-menu-item {
        text-decoration: underline;
  
        a {
          color: $c-primary;
        }
      }
    }
  }
}
.menu-item a img {
  height: auto;
  width: 35px;
  margin-left: 20px;
  transition: .2s;

  @include media-max(sm) {
    margin-left: 0;
  }
  
  &:hover {
    transform: rotate(5deg) scale(1.5);
  }
}

.menutoggler {
  background-color: $c-secundary;
  bottom: 25px;
  border-radius: 100px;
  display: block;
  position: fixed;
  right: 25px;
  height: 70px;
  width: 70px;
  z-index: 1000;
  padding: 10px 12px;
  border: solid 2px $c-light;

  span{
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background-color: $c-dark;
    display: block;
    margin: 6px 0;
    transition: .2s;
  }

  &.active {
    .first {
      transform: translatey(14px) rotate(-45deg);
    }

    .second {
      opacity: 0;
      transform: translateX(35px);
    }

    .third {
      transform: translatey(-14px) rotate(45deg);
    }
  }
}
