.search {
  &__results {
    margin-top: 200px;
    margin-bottom: 200px;
  
    @include media-max(sm) {
      margin-top: 0;
      margin-bottom: 100px;
    }
  }
  &-results {
    padding-bottom: 0!important;
    @include media-max(sm) {
      padding-top: 150px!important
    }
  }

  h1 {
    margin-bottom: 50px;

    @include media-max(sm) {
      margin-bottom: 0;
    }
  }
  
  h2 {
    margin-top: 50px;
    @include media-max(sm) {
      margin-bottom: 0;
    }
  }
}
