.gform_wrapper input[type=image] {
  max-width: 72px !important;
  @include media-max(sm) {
    max-width: 55px !important;
  }
}

.gform_wrapper .ginput_complex .ginput_left input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
.gform_wrapper .ginput_complex .ginput_right input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
.gform_wrapper .ginput_complex .ginput_right select, .gform_wrapper .ginput_complex input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=image]):not([type=file]),
.gform_wrapper .ginput_complex select,
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
  border: 0;
  border-radius: 20px;
  font-size: 26px !important;
  padding: 20px !important;
  text-align: center;
  width: 100% !important;
  outline: 0!important;
  @include media-max(sm) {
  border-radius: 15px;
  font-size: 16px !important;
  padding: 10px !important;
  text-align: center;
  width: 100% !important;
  outline: 0!important;
  }
}

.gform_wrapper .top_label .gfield_label, .gform_wrapper legend.gfield_label {
  font-family: LuTunafree;
  font-size: 60px;
  text-transform: uppercase;

  @include media-max(sm) {
    font-size: 24px;
  }
}

.gform_page_fields {
  width: 85%;
  display: inline-block;
  @include media-max(sm) {
    display: block;
    width: 100%;
  }
}

.gform_page_footer {
  width: 14% !important;
  display: inline-block;
  border-top: none !important;
  text-align: right;

  @include media-max(sm) {
    display: block;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

}

.gform_page {
  display: flex;
  align-items: flex-end;

  @include media-max(sm) {
    display: block;
  }
}
.gfield_consent_label,
.gform_wrapper .field_description_below .gfield_consent_description, .gform_wrapper .gfield_consent_description,
.gform_confirmation_message{
  font-family: Mplus;
  font-size: 26px!important;
  @include media-max(sm) {
    font-size: 16px !important;
  }
}

.gfield_consent_description { overflow-y: hidden; }