.contact {
  &__container {
    padding-top: 100px;
    padding-bottom: 100px;

    @include media-max(sm) {
      padding-top: 260px;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;

    li {
      padding: 10px 0 !important;
      
      p {
        padding-left: 10px;
      }
    }
  }
}
