// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit

@import '../../global/variables';
@import '../../mixin/media-queries';


.featured {
  padding-bottom: 100px;
  padding-top: 100px;

  @include media-max(sm) {
    padding-bottom: 70px;
    padding-top: 300px;
  }

  h2 {
    margin-bottom: 100px;

    @include media-max(sm) {
      margin-bottom: 30px;
    }
  }

  a {
    color: $c-dark;

    &:hover {
      text-decoration: none;


    }
  }

  &__container {
    &--left {
      h3 {
        margin-bottom: 50px;
        @include media-max(sm) {
          margin-bottom: 20px;
        }
      }

      &--right {
        img {
          &:hover {
            display: none;
          }
        }
      }
    }
  }
}
