.blog {
  &__container {
    max-width: 900px;
    margin: 200px auto;
    text-align: center;

    @include media-max(sm) {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    h1 {
      margin-bottom: 50px;
    }
  }
}
