html{
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: $c-broken-light;
}

.container {
  max-width: 1640px;
  @include media-max(sm) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
