// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.header {
  height: 860px;

  @include media-max(sm) {
    height: 528px;

  }

  &--container {
    max-width: 660px;

    .btn {
      margin-top: 51px;

      @include media-max(sm) {
        margin-top: 29px;

      }
    }
  }

  &__featured {
    position: absolute;
    right: 0;
    top: 5vh;

    @include media-max(sm) {
      position: relative;
      top: auto;
      right: auto;
      margin-bottom: -370px;
    }
  }

  &__relative {
    position: relative;
  }
}
