// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.faq {
  &__index {
    position: sticky;
    height: 100%;
    top: 200px;

    @include media-max(sm) {
      position: relative;
      top: 0;
      margin-bottom: 50px;
    }
    
    h4 {
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    a {
      color: $c-dark;
      display: block;
      margin-bottom: 10px;
    }
  }
}
