// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.faq {
  &__block {
    margin-bottom: 120px;

    &--title {
      margin-bottom: 50px;
    }
  }

  &__item {
    background-color: $c-secundary;
    border-radius: 29px;
    min-height: 523px;
    padding: 60px 45px;
    margin-bottom: 30px;
    transition: .3s;
    
    @include media-max(sm) {
      min-height: 200px;
      padding: 30px 20px;
    }

    &:hover {
      transform: rotate(3deg);
    }

    &--container {
      &:hover {
        text-decoration: none;
      }
      &:nth-child(odd) {
        .faq__item {
          background-color: $c-secundary;
        }
      }
      &:nth-child(even) {
        .faq__item {
          background-color: $c-primary;
          &--title h3{
            color: $c-light;
          }
        }
      } 
      
    }

    &--title {
      text-align: center;
      width: 100%;
    }
  }
}
