// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.search {
  padding: 100px 0;

  @include media-max(sm) {
    padding-top: 240px;
  }

  &__label {
    max-width: 90%;
    width: 90%;

    @include media-max(sm) {
      max-width: 100%;
      width: 100%;
    }

    &--field {
      border: 0;
      border-radius: 20px;
      font-size: 26px;
      padding: 20px;
      text-align: center;
      width: 100%;

      &:focus {
        outline: 0;
      }
    }
  }

  &__submit {
    padding: 0 0 0 4%;
    width: 5%;
    
    @include media-max(sm) {
      float: right;
      padding: 15px 0 0;
      width: auto;
    }
  }
}
