.product {
  &__attr {
    padding: 100px 0 100px 50px;
    @include media-max(sm) {
      width: 100%;
      padding: 100px 0;
    }
    

    &--top {
      padding-bottom: 100px;
      @include media-max(sm) {
        padding: 0;
      }
    }
    &__in {
      @include media-max(sm) {
        margin-top: 85px;
      }
    }

    &__nutrion {
      p {
        margin: 0;
      }

      @include media-max(sm) {
        margin-top: 50px;
        margin-bottom: 80px;
      }
    }

    &--container {
      @include media-max(sm) {
        margin-top: 3px;
      }
    }
  }  
}