.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents {
  .product-name a{
    font-size: 16px !important;
  }

  .quantity .qty {
    font-size: 16px !important;
    height: auto !important;
    width: 3.631em !important;
    @include media-max(sm) {
      float: unset!important;
    }
  }
  .coupon .input-text {
    width: auto !important;

    @include media-max(sm) {
      width: 50% !important;
      float: unset!important;
      margin-left: 20px;
    }
  }
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1  {
  float: left !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 0 100px;
  
  .form-row {
    display: block;
  }
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: left !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 0 100px;

  
  .form-row {
    display: block;
  }
}
