.product--header {
  padding-top: 200px;

  @include media-max(sm) {
   padding-top: 85px;
  }
}

.product-price b{
  color: $c-primary;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: $c-primary;
  font-family: Mplus;
  font-size: 26px;
  font-weight: bold;
}

.woocommerce div.product form.cart .variations select,
.woocommerce .quantity .qty{
  height: 67px;
  font-family: Mplus;
  font-size: 26px;

  @include media-max(sm) {
    height: 50px;
    font-size: 16px;
    float: right;
   }

}

.woocommerce div.product form.cart .variations td.label {
  font-family: LuTunaFree;
  font-size: 40px;
  text-transform: uppercase;
  padding: 0;

  @include media-max(sm) {
    font-size: 26px;
   }
}

.variations {
  margin: 20px 0!important;
}

.single_variation_wrap {
  float: right;
  @include media-max(sm) {
    float: left;
  }
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: $c-primary;
  border: 0;
  border-radius: 18px;
  font-family: LuTunaFree;
  font-size: 40px;
  line-height: 30px;
  padding: 17px 35px;
  text-transform: uppercase;
  transition: .3s;
  &:hover {
    background-color: $c-primary;
    transform: rotate(2deg);
  }

  @include media-max(sm) {
    border-radius: 10px;
    font-size: 26px;
    padding: 11px 18px;
  }
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  background-color: $c-primary;
  @include media-max(sm) {
    border-radius: 10px;
    font-size: 26px;
    padding: 11px 18px;
  }
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: $c-primary;
  @include media-max(sm) {
    border-radius: 10px;
    font-size: 26px;
    padding: 11px 18px;
  }
}

.woocommerce-variation-price {
  margin-bottom: 10px;
}
.woocommerce-product-details__short-description  p{
  margin-top: 20px;
}

.cli-modal-content {
  font-size: 26px !important;

  

}
.cli_settings_button {
  display: block;
}