// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit
.about {
  &__blocks {
    padding: 300px 0 150px;

    @include media-max(sm) {
      padding: 175px 0 0px;
      
      .lastblock {
        margin-top: 75px;
        padding-top: 75px;
        padding-bottom: 75px;

        background: $c-light
      }
    }

    

    p  {
      margin-top: 30px;
    }
  }
}
