// sass-lint:disable class-name-format
// sass-lint:disable no-important
// sass-lint:disable nesting-depth
// sass-lint:disable zero-unit

.about {
  &__image {
    &--container {
      height: auto;
      overflow: hidden;
      position: absolute;
      width: 100%;
      @include media-max(sm) {
        bottom: 0;
      }
    }

    &--image {
      max-width: 110%;
      width: 110%;

      @include media-max(sm) {
        margin-left: -54%;
        max-width: 264%;
        width: 200%;
      }
    }
  }
}
